<a href="https://colab.research.google.com/github/18K41A0565/ASSIGNMENT-I/blob/master/ASSIGNMENT-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Develop a code for below scenario!

In [ ]:
month={0:'monkey',1:'rooster',2:'dog',3:'pig',4:'rat',5:'ox',6:'tiger',7:'rabbit',8:'dragon',9:'snake',10:'horse',11:'sheep'}
m=int(input('Enter year of birth:'))
k=m%12
if k in month:
  print(month[k])

Enter year of birth:2001
snake

2.A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below. 

Input:  Distance to be travel: 520 
    
Weight of the goods: 50 

Output: Amount to be charged: 3120 /-

In [ ]:
d=int(input('Enter distance to be travelled:\t'))
x=int(input('Enter weight of goods:\t'))
if d>=500:
    if x>=100:
        a=5*d
    elif x<100:
        if x>=10:
            a=6*d
        elif x<10:
            a=7*d
elif d<500:
    if x>=100:
        a=8*d
    else:
        a=5*d
       
print('Amount to be charged:',+a)

Enter distance to be travelled:	520
Enter weight of goods:	50
Amount to be charged: 3120

    3. The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given.

Input: 	Type of Seat: Circle

Payment mode: cash

Output: Cost of ticket: 675

In [ ]:
print('Menu:\t1:stalls - 625 \t2:circle - 750 \t3:class - 850\t4:box - 1000')
s=input('Select Type of seat:\t')
print('paymnet \n1:cash - 10% discount \n2:card - 5% discount')
p=input('Select Payment Mode:\t')
a={'stalls':625,'circle':750,'class':850,'box':1000}
p2={'cash':(1/10),'card':(1/20)}
if s in a:
      k=a[s]
if p in p2:
      print('Cost of ticket:',k-k*p2[p])
elif p in p2:
      print('Cost of ticket:',k-k*p2[p])

Menu:	1:stalls - 625 	2:circle - 750 	3:class - 850	4:box - 1000
Select Type of seat:	circle
paymnet
1:cash - 10% discount
2:card - 5% discount
Select Payment Mode:	cash
Cost of ticket: 675.0

4. Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules.

In [2]:
M=float(input('Enter amount of water in kilograms:'))
it=float(input('Enter initial temperatur:'))
ft=float(input('Enter final temperatur:'))
Q=M*(ft-it)*4184
print('Energy needed to heat water:',Q)

Enter amount of water in kilograms:55.5
Enter initial temperatur:5.5
Enter final temperatur:10.5
Energy needed to heat water: 1161060.0

    5. Develop a program that prompts user to enter month and  print 
        a. “Winter ” -   December ,January and February
        b. “Spring”  -   March ,April and May
        c. “Summer”  --- June ,July, August
        d. “Autumn ”  -- September ,October, November

In [3]:
m=input('Enter month name:')
month={'January':'Winter','December':'Winter','February':'Winter','March':'Spring','April':'Spring','May':'Spring','June':'Summer','July':'Summer','August':'Summer','September':'Autumn','October':'Autumn','November':'Autumn',}
if m in month:
  print(month[m])

Enter month name:March
Spring

6.Body Mass Index

In [5]:
W=float(input('Enter weight in pounds:'))
H=float(input('Enter height in inches:'))
BMI=(W*0.453592237)/(H*0.0254)**2
print('BMI:',BMI)
if BMI<18.5:
  print('Underweight')
elif BMI>=18.5:
  if BMI<25.0:
    print('Normal')
  elif BMI>=25.0:
    if BMI<30.0:
      print('Overweight')
    else:
      print('Obese')

Enter weight in pounds:141.0958477983217
Enter height in inches:68.89763779527559
BMI: 20.89795305608238
Normal

7.Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)

In [11]:
import math
n=int(input('Enter an integer'))
sum=0
if n>100:
  if n<1000:
    while n>0:
      rem=math.floor(n%10)
      sum=sum+rem
      n=math.floor(n/10)
print(sum)

Enter an integer745
16

8.Print all palindrome numbers between 1 to 1000.

In [10]:
import math
sum=0
for n in range(1,1000):
  k=n
  sum=0
  while n>0:
    rem=math.floor(n%10)
    sum=sum*10+rem
    n=math.floor(n/10)
  if k==sum:
    print(k)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

9.Print all Armstrong numbers between 1 to 1000.

In [9]:
import math
sum=0
for n in range(1,1000):
  k=n
  sum=0
  l=len(str(n))
  while n>0:
    rem=math.floor(n%10)
    sum=sum+pow(rem,l)
    n=math.floor(n/10)
  if k==sum:
    print(k)

1
2
3
4
5
6
7
8
9
153
370
371
407

10.Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [8]:
for i in range(1,100):
  f=0
  if i%3==0:
      if i%5==0:
        f=1
        print('fizzbuzz')
  if f==0:
    if i%3==0:
      print('fizz')
    elif i%5==0:
      print('Buzz')
    else :
      print(i)

1
2
fizz
4
Buzz
fizz
7
8
fizz
Buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
Buzz
fizz
22
23
fizz
Buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
Buzz
fizz
37
38
fizz
Buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
Buzz
fizz
52
53
fizz
Buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
Buzz
fizz
67
68
fizz
Buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
Buzz
fizz
82
83
fizz
Buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
Buzz
fizz
97
98
fizz

    11. Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.

Output:  The number of steps 'N' required to get out of the well.

Example 1:

 	Input:						Ouput 
	200 50 1					    5

	Example 2:
 	Input:						Output
	500 20 15					   98

In [6]:
H=int(input('Enter height of well:'))
U=int(input('Enter no of meters to climb up:'))
D=int(input('Enter no of meters slips down:'))
n=0
while H>0:
  if H<U:
    H=H-U
    n=n+1
  else:
    k=U-D
    H=H-k
    n=n+1
print(n)

Enter height of well:500
Enter no of meters to climb up:20
Enter no of meters slips down:15
98